@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @ViewBag.Greeting World from my view
    <p>
        We're going to have an exciting party.<br/>
        TODO sell it better. Add smth.
    </p>
    <a asp-action="RsvpForm">RSVP now</a>
</div>
</body>
</html>